.slider{
  width: 1215px;
  height: 484px;
  /* margin: auto; */
  margin-left: 70px;
}

.inner{
  position: absolute;
  margin-top: -190px;
  width: 434px;
  height: 190px;
  background-color: #E8F1FF;
}
.inner-slider{
  margin-left: 30px;
  width: 293px;
  margin-top: 20px;

}